@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply font-sans;
  @apply text-base;
  @apply text-gray-900;
  @apply antialiased;
  @apply h-full;
}
body {
  @apply font-sans;
  @apply text-base;
  @apply text-gray-900;
  @apply antialiased;
  @apply h-full;
  @apply m-0;
}


.frontpage .layout-header {
  @apply absolute bg-transparent shadow-none;
}
.frontpage.sticked .layout-header {
  @apply fixed bg-white shadow;
}
